<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5 "style="height:350px;width:500px;border: 1px solid black;
  border-radius: 4px;padding-top:10px;">
            
<form action="/admin/login" method="POST" id="loginForm"  class="log ">
<div >
<h2 class="text-center">Login</h2>
{{#if loginErr}}
<p class="error">{{loginErr}}</p>
{{/if}}
    <div class="form-group">
        <label for="">Email Address</label>
        <input type="email" class="form-control" name="Email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" name="Password" placeholder="Password">
    </div>
    
    <button type="submit" class="btn btn-primary mt-3 float-end" >Login</button>
</div>
  
</form>
</div>
</div>
</div>
<style>
    .log{
       
        width: 400px;
    }
   
</style>
<script>
    $( "#loginForm" ).validate({
  rules: {
    Email: {
      required: true
      email:true
    },
    Password:{
        required:true
        minlength: 3

    }
  }
});
    
</script>
