<header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Shopping-Cart</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Products</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/cart"><i class="fas fa-cart-plus fa-lg"></i><span class="badge rounded-pill bg-primary" id="cart-count">{{cartCount}}</span></a>
                        </li>
                        {{#if user}}
                        <li class="nav-item">
                            <a class="nav-link" href="/delivery-details">Orders</a>
                        </li>
                        {{/if}}
                        
                    </ul>
                  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
  {{#if user}}
    {{user.Name}}
    {{else}}
     Account
  {{/if}}

  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {{#if user}}
  <li><a class="dropdown-item" href="/logout">Logout</a></li>
  {{else}}
  <li><a class="dropdown-item" href="/login">Login</a></li>

  {{/if}}
    
    
  </ul>
</div>
                   
                </div>
            </div>
        </nav>


    </header>
    <style>
        .badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#cart-count{
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}
.fas{
  color: white;
}
    </style>