<section>
    <div class="container">
        <div class="row col-md-12">
            <h3>YOUR ORDER IS PLACED SUCCESSFULLY!!!!</h3>
            <div>
            <a href="/delivery-details" class="btn btn-success float-end">View details</a>
            </div>

        </div>
    </div>
</section>